.NotFoundBlock{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Playfair Display";
}

.p404{
    font-size: 175px;
    font-weight: 600;
    color: #626262;
}

.page{
    margin-left: 25px;
    margin-top: -44px;
    font-size: 23px;
    color: #626262;
    font-weight: 400;
}