a{
    color: #000;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    min-width: 380px;
}

.header_section{
    display: block;
}

.header_brand{
    font-family: 'Inconsolata';
    font-weight: 600;
    font-size: 30px;
    padding: 63px 140px 65px 70px;
}

.header_link{
    display: block;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 14px;
    padding: 74px 70px 65px 0;
    margin-bottom: -10px;
}

.icoMenu{
    display: none;
}

.menu_section{
    display: flex;
    justify-content: center;
}

.submenu_section{
    display: none;
}



.icoMenu:hover{
    cursor: pointer;
}

.menu_section a:hover, .submenu_section a:hover{
    cursor: pointer;
    border-bottom: 2px solid black ;
    padding-bottom: 4px;
}

a:active, .icoMenu:active{
    cursor: pointer;
    color: slategray;
}




@media  screen and (max-width: 1001px) {
    .header_brand{
        font-family: 'Inconsolata';
        font-weight: 600;
        font-size: 32px;
        padding: 63px 0 65px 70px;
    }
    .submenu_section{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 25px;
        margin-left: 10%;
        text-align: center;
    }
    .submenu_link{
        display: block;
        font-family: "Playfair Display";
        font-weight: 400;
        font-size: 16px;
        padding-top: 15px;
    }
    .icoMenu{
        display: block;
        margin-top: 63px;
        margin-right: 70px;
        margin-bottom: auto;
        font-size: 25px;
        font-weight: 800;
    }
    .header_link{
        display: none;
    }
}


.submenu_link-enter{
    opacity: 0.01;
    margin-top: -10px;
    transform: scale(1.1);
}

.submenu_link-enter-active{
    opacity: 1;
    margin-top: 100px;
    transform: scale(1);
    transition: all 400ms ease-out;
}

.submenu_link-exit{
    opacity: 1;
    margin-top: 100px;
    transform: scale(1);
}

.submenu_link-exit-active{
    opacity: 0.01;
    margin-top: -10px;
    transform: scale(1.1);
    transition: all 400ms ease-out;
}